{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - DermaSkin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_js %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-shrink py-3 navbar-light" id="mainNav">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
                <span class="text-primary"><i class="las la-mortar-pestle la-2x"></i></span>
                <span>DermaSkin</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'bookings' %}">Book Now</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">My Account</a>
                        <div class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_service' %}" class="dropdown-item">Add service</a>
                            <a href="{% url 'booking_management' %}" class="dropdown-item">Booking Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                {% if request.user.is_authenticated %}
                    <div class="nav-item nav-link text-black order-last mx-auto">Hi, {{ user|capfirst }}!</div>
                    {% else %}
                    <div></div>
                    {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} bg-{{ message.tags}}-subtle alert-dismissible fade show my-2"
                    id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock content %}

    <footer class="bg-primary-gradient">
        <div class="container py-4 py-lg-5">
            <div class="row justify-content-center">
                <div class="col text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Menu</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="{% url 'services' %}">Services</a></li>
                        <li class="mb-2"><a href="{% url 'bookings' %}">Book Now</a></li>
                        {% if request.user.is_authenticated %}
                        <li class="mb-2"><a href="{% url 'profile' %}">My Profile</a></li>
                        <li class="mb-2"><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                        <li class="mb-2"><a href="{% url 'account_signup' %}">Register</a></li>
                        <li class="mb-2"><a href="{% url 'account_login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Contact</h3>
                    <ul class="list-unstyled" style="margin-bottom: 15px;">
                        <li class="mb-2">+123456789</li>
                        <li class="mb-2">info@example.com</li>
                        <li class="mb-2">12 Example Street</li>
                        <li class="mb-2">Dublin 1 D12345</li>
                    </ul>
                </div>
                <div
                    class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center align-self-center order-first align-items-lg-start order-lg-last">
                    <div class="fw-bold d-flex align-items-center mb-2">
                        <span class="text-primary"><i class="las la-mortar-pestle la-2x"></i></span>
                        <span>DermaSkin</span>
                    </div>
                    <p class="mb-2">Copyright © 2023 DermaSkin</p>
                    <div class="d-flex">
                        <a href="#">
                            <span class="text-primary"><i class="lab la-facebook la-lg"></i></span>
                        </a>
                        <a href="#">
                            <span class="text-primary mx-3"><i class="lab la-instagram la-lg"></i></span>
                        </a>
                        <a href="#">
                            <span class="text-primary"><i class="lab la-youtube la-lg"></i></span>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>